! Xft
! ----------------------------------------------------------------------------
Xft.antialias:  true
Xft.dpi:        96
Xft.hinting:    true
Xft.hintstyle:  hintfull
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb

*foreground:    rgb:22/22/22
*background:    rgb:ee/ee/ec

! xterm
! ----------------------------------------------------------------------------
XTerm*termName: xterm-256color
XTerm*utf8:     1
XTerm*font:     -misc-fixed-medium-r-normal-*-*-120-*-*-*-*-iso10646-1

XTerm*metaSendsEscape:      true
XTerm*showBlinkAsBold:      true
XTerm*background:           black
XTerm*foreground:           gray90
XTerm*cursorColor:          gray90
XTerm*saveLines:            4096
XTerm*VT100.TiteInhibit:    true
